name: Release
on:
  push:
    tags: ['v*']

permissions:
  contents: write

jobs:
  release:
    uses: zarlcorp/.github/.github/workflows/go-release.yml@main
    with:
      binary-name: zvault
    secrets:
      TAP_TOKEN: ${{ secrets.TAP_TOKEN }}
